.error {
  color: red;
  border: 2px solid red;
  border-radius: 8px;
  background: lightgrey;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 10px;
}

.success {
  color: green;
  border: 2px solid green;
  border-radius: 8px;
  background: lightgrey;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 10px;
}

.blogStyles {
  padding-top: 10px;
  padding-left: 2px;
  border: "solid";
  border-width: 1px;
  margin-bottom: 5px;
}

.blogTitle {
  text-decoration: underline;
}

.blogAuthor {
  font-weight: 700;
}
.blogLikes {
  color: blueviolet;
}

.blogUrl {
  font-size: medium;
}
